gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Ocultar archivos sensibles de Android e iOS
android/app/src/main/res/values/google_maps_api.xml
android/app/src/main/AndroidManifest.xml
ios/Runner/GoogleService-Info.plist
ios/Runner/Info.plist

